# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [ ]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
result = []
for a, b in test_list:
    # check if first element already exists in result
    print(a,b)
    for i in range(len(result)):
        print(i)
        if result[i][0] == a:
            # extend that tuple with new value
            result[i] = result[i] + (b,)
            break
    else:
        # if not found, add a new tuple
        result.append((a, b))

print(result)

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [ ]:
a=(1,5,7,8,10)
b=[]
for i in range(len(a)):

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [ ]:
t1=(1,2,3,0)
t2=(0,1,2,3)
if t1==t2:
  print("same")
else:
  print("not same")

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [ ]:
l1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
t=0
l=0
s=0
for i in l1:
  if isinstance(i,tuple):
    t+=1
  elif isinstance(i,list):
    l+=1
  else:
    s+=1
print(f"Tuple-{t}\n List-{l}\n Set-{s} ")

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [ ]:
b =[]
f=[]
a= True
while a:
    print("1add")
    print("2search")
    print("3 exit")
    c=input("choice: ")
    if c=="1":
        name = input("enter the name")
        e = input("enter the education")
        skill = input("enter the skill")
        yog = input("enter the yog")
        b.append([name, e, skill, yog])
    elif c=="2":
        print("enter job requirement")
        ps = input("enter skill")
        e = input("enter education ")
        y = input("enter yog")
        f = []
        for j in b:
            if j[2] == ps and j[1] == e and j[3] == y:
              f.append(j)
            else:
              print("no such candidate")
        else:
            print(f)
    elif c=="3":
        print("exit")
        a = False


    else:
        print("invalid choice")

1add
2search
3 exit
choice: 1
enter the nameanisha
enter the educationbe
enter the skillpy
enter the yog2026
1add
2search
3 exit
choice: 2
enter job requirement
enter skillpy
enter education be
enter yog2026
[['anisha', 'be', 'py', '2026']]
1add
2search
3 exit
choice: 2
enter job requirement
enter skilljava
enter education be
enter yog2025
no such candidate
1add
2search
3 exit
choice: 3
exit

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [ ]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
s1=set(ar1)
s2=set(ar2)
s3=set(ar3)
a=[]
a.extend(s1.intersection(s2,s3))
print(a)

[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [ ]:
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
b={"a","e","i","o","u","A","E","I","O","U"}
c=set()
for i in Str1:
  if i in b:
    c.add(i)
print(len(c))

6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [ ]:
a=input("enter")
b=set(a)
if len(b)==2:
  print("yes")
else:
  print("no")

enter01010101010
yes

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [ ]:
a=[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
b=[]
for i in a:
  b.extend(i)
c=set(b)
d=list(c)
print(d)

[1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [ ]:
l1=(input("enter"))
l2=(input("enter"))
a=[]
for i in l1:
  for j in l2:
    if i==j:
      a.append(int(j))
print(a)

enter123456
enter1258
[1, 2, 5]

In [ ]:
l1=(input("enter"))
l2=(input("enter"))
a=[int(j) for i in l1 for j in l2 if i==j ]
print(a)

enter1258
enter123456
[1, 2, 5]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [ ]:

d={"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 35,10], "Best" : [9, 9, 6, 5, 5]}
temp=0
for i,j in d.items():
  if temp ==0:
    value= i
    temp=len(set(j))
  elif temp<len(set(j)):
    value= i
    temp=len(set(j))
print(value)

is

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [ ]:
s= 'CampusX best for DS students.'
a=s.split()
for i in a:
    if i=="best":
        print("is the best channel",end=" ")
    elif i =="DS":
        print("Data science",end=" ")
    else:
        print(i)

CampusX is the best channel for Data science students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [68]:
l1=["DataScience", 3, "is", 8]
l2=["name", "id"]
d={j:i for (i,j) in zip (l1,l2)}
print(d)

{'name': 'DataScience', 'id': 3}

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [69]:
l1=[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
d={ }
for i,j in l1:
  d[i]=[j]
print(d)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [87]:
d = {'c': [3], 'b': [12, 10], 'a': [19, 4]}
sorted_lists_dict = {}
for key in d:
    sorted_lists_dict[key] = sorted(d[key])
final_dict = {}
for key in sorted(sorted_lists_dict.keys()):
    final_dict[key] = sorted_lists_dict[key]
print(final_dict)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}